<br/>
<%= link_to 'Back', "/homepage/index" , class: "btn btn-default" %>
<h1>User</h1>
<table>
    <tr>
        <td>
            <%= link_to 'Create/Edit/Read Person', "/people/adminCreateEditRead" , class: "btn btn-success" %>
        </td>
        <td>
            <%= link_to 'Create/Edit/Read Phone', "/phones/adminCreateEditRead" , class: "btn btn-success" %>
        </td>
        <td>
            <%= link_to 'Create/Edit/Read Email', "/emails/adminCreateEditRead" , class: "btn btn-success" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to 'Create/Read Invoice', "/invoices/adminCreateRead" , class: "btn btn-primary" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to 'Create Invoice has Product', "/invoice_has_products/adminCreate" , class: "btn btn-info" %>
        </td>
        <td>
            <%= link_to 'Create Customer', "/customers/adminCreate" , class: "btn btn-info" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to 'Read Product', "/products/adminRead" , class: "btn btn-default" %>
        </td>
    </tr>
</table>