<br/>
<%= link_to 'Back', "/sessions/new" , class: "btn btn-default" %>
<h1>User</h1>
<table>
    <tr>
        <td>
            <%= link_to 'Create/Edit/Read Person', "/people/userCreateEditRead" , class: "btn btn-success" %>
        </td>
        <td>
            <%= link_to 'Create/Edit/Read Phone', "/phones/userCreateEditRead" , class: "btn btn-success" %>
        </td>
        <td>
            <%= link_to 'Create/Edit/Read Email', "/emails/userCreateEditRead" , class: "btn btn-success" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to 'Create/Read Invoice', "/invoices/userCreateRead" , class: "btn btn-primary" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to 'Create Invoice has Product', "/invoice_has_products/userCreate" , class: "btn btn-info" %>
        </td>
        <td>
            <%= link_to 'Create Customer', "/customers/userCreate" , class: "btn btn-info" %>
        </td>
    </tr>
    <tr>
        <td>
            <%= link_to 'Read Product', "/products/userRead" , class: "btn btn-default" %>
        </td>
    </tr>
</table>