<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @email.email_id %>
</p>

<p>
  <strong>Email name:</strong>
  <%= @email.email_name %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', :back %>
