<br/>
<%= link_to 'Back', "/homepage/index" , class: "btn btn-default" %>
<h1>Administrative</h1>

<table>
    <tr>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Email', "/emails" , class: "btn btn-success" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Phone', "/phones" , class: "btn btn-success" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Position', "/positions" , class: "btn btn-success" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Person', "/people" , class: "btn btn-success" %>
        </td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Employee', "/employees" , class: "btn btn-info" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Status', "/statuses" , class: "btn btn-info" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Customer', "/customers" , class: "btn btn-info" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Invoice', "/invoices" , class: "btn btn-info" %>
        </td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Employee has Shift', "/employee_has_shifts" , class: "btn btn-primary" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Shift', "/shifts" , class: "btn btn-primary" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Invoice has Product', "/invoice_has_products" , class: "btn btn-primary" %>
        </td>
        <td>
            <%= link_to 'Create/Read/Edit/Delete Product', "/products" , class: "btn btn-primary" %>
        </td>
    </tr>
</table>

