<br/>
<%= link_to 'Back', "/homepage/index" , class: "btn btn-default" %>
<h1>Reporting</h1>
<table>
    <tr>
        <td>   
            <%= link_to 'Read People', "/people/reportRead" , class: "btn btn-info" %>
        </td>
        <td>
            <%= link_to 'Read Employees', "/employees/reportRead" , class: "btn btn-info" %>
        </td>
        <td>
            <%= link_to 'Read Invoices', "/invoices/reportRead" , class: "btn btn-info" %>
        </td>
        <td>
             <%= link_to 'Read Products', "/products/reportRead" , class: "btn btn-info" %>
        </td>
    </tr>
</table>